name: Deployment CI

on:
  push:
    branches: [feature/CI-implementation]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Revision code deploy to'
        required: true
      force_bootstrap:
        description: 'Force deploy'
        required: false
        default: false
        type: boolean

env:
  NODE_VERSION: '22'

jobs:
  deploy:
    name: Deploy to main
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/feature/CI-implementation' || (github.event_name == 'workflow_dispatch')
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      